[submodule "travis-ci"]
	path = travis-ci
url=git@github.com:berkus/travis-scripts.git
[submodule "cmake"]
	path = cmake
url=git@github.com:berkus/cmake-setup.git
[submodule "3rdparty/endian"]
	path = 3rdparty/endian
url=git@github.com:berkus/endian.git
[submodule "3rdparty/arsenal"]
	path = 3rdparty/arsenal
url=git@github.com:berkus/libarsenal.git
